{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="card ml-4" style="max-width:600px">
    <h2 class="text-uppercase font-weight-bold mt-5">Contact us by</h2>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 400px;">
        <h4>
          <i class="fas fa-home mr-3 mb-4"></i> New York, NY 10012, US</h4>
        <h4>
          <i class="fas fa-envelope mr-3 mb-4"></i> info@example.com</h4>
        <h4>
          <i class="fas fa-phone mr-3 mb-4"></i> + 01 234 567 88</h4>
        <h4>
          <i class="fa fa-facebook mr-3 mb-4"></i> + 01 234 567 89</h4>
		<h4>
          <i class="fa fa-twitter mr-3 mb-4"></i> + 01 234 567 89</h4>
        <h4>
          <i class="fa fa-instagram mr-3 mb-4"></i> + 01 234 567 89</h4>
        <h4>
          <i class="fa fa-whatsapp mr-3 mb-4"></i> + 01 234 567 89</h4>
    </div>
</div>
{% endblock content %}